spring:
  application:
    name: inventory-service
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    config:
      fail-fast: false



logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
